<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:text="${titulo}">La Escuela</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Spring BOOT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active"><a class="nav-link" href="#">Inicio
        <span class="sr-only">(current)</span>
      </a></li>
      <li class="nav-item"><a class="nav-link" th:href="@{/listar}">Conductores</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1  class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
       th:text="${titulo}"></h1>

  <table class="table table-striped">
    <thead class="bg-dark">
    <tr>
      <th>ID</th>
      <th>Tipo de Documento</th>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Fecha de Nacimiento</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Telefono2</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${conductor.id}"></td>
      <td th:text="${conductor.tipoDocumento}"></td>
      <td th:text="${conductor.dni}"></td>
      <td th:text="${conductor.nombre}"></td>
      <td th:text="${conductor.apellidoPaterno}"></td>
      <td th:text="${conductor.apellidoMaterno}"></td>
      <td th:text="${conductor.fechaNacimiento}"></td>
      <td th:text="${conductor.direccion}"></td>
      <td th:text="${conductor.telefono}"></td>
      <td th:text="${conductor.telefono2}"></td>
      <td th:text="${conductor.email}"></td>
    </tr>
    </tbody>

  </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>